<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%-include('partials/head.ejs')%>
    
</head>
<body>
    <%-include('partials/navigation.ejs')%>
    <header class="container vh-100 d-flex justify-content-center align-items-center">
    <div class=" d-flex flex-column justify-content-center align-items-center">
     <img src="/img/logo.png" alt="logo" >
     <h1 class="display-1 my-5 text-uppercase fw-bold">Nuestra Historia</h1>
     <p>Somos una tienda virtual especializada en detalles personalizados para cada ocasión especial </p>
         <p>¡ Hacemos lo que sueñes!</p>
    </div>
    </header>
</body>
</html>