<div class="red">
    <div id="facebook"><a href="https://www.facebook.com/" target="none" class="fa fa-facebook"></a></div>
    <div id="instagram"><a href="https://www.instagram.com/dimensiones_creativa/" target="none" class="fa fa-instagram"></a></div>
    <div id="correo"><a href="https://mail.google.com/" target="none" class="fa fa-envelope"></a></div>
</div>
